.container__banner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}

.container__banner div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 415px;
}

.slider {
    opacity: 0;
    position: absolute;
    width: 100%;
    transition: 1s;
    height: 415px;
}

.on {
    opacity: 1;
}

#prev-btn, #next-btn {
    width: 70px;
    position: absolute;
    height: 100%;
    left: 0;
    right: auto;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: all 600ms ease-in-out;
    text-align: center;
    opacity: 0;
}

#next-btn {
    left: auto;
    right: 0;
}

#prev-btn:hover {
    opacity: 1;
    background: linear-gradient(to left, transparent 0%, black 200%);
}

#next-btn:hover {
    opacity: 1;
    background: linear-gradient(to right, transparent 0%, black 200%);
}