.secao__produtos {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.secao__produtos div h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 38.73px;
    margin-bottom: 30px;
    text-align: center;
}
.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.produto {
    width: 350px;
    height: 615px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 13%);
}

@media screen and (max-width: 1046px) {
    .produtos{
        justify-content: space-around;
    }
    
    .produto {
        width: 330px;
    }
}

.produto img {
    height: 422px;
}



.produto h3 {
    font-size: 16px;
    line-height: 23px;
    font-weight: 700;
    padding: 0 10px;
    margin: 15px 0;
}

.produto p {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    padding: 0 10px;
    margin: 0 0 15px 0;
}

.produto span {
    font-size: 16px;
    line-height: 23px;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 0 10px;
}

.produto button {
    margin-left: 10px;
    width: 30%;
    padding: 9px 16px;
    border: none;
    background-color: #9353FF;
    color: #fff;
    cursor: pointer;
}

/* CSS DO MODAL QUE APARECE AO CLICAR EM UM PRODUTO */

.modal-produtos {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}   

.modal-produtos .content-produtos{
    background-color: #fff;
    margin: 15% auto;
    border-radius: 5px;
    height: 522px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.m-p-header {
    align-items: center;
    display: flex;
    background-color: #000;
    justify-content: space-between;
    width: 100%;
}

.m-p-h-titulo {
    display: flex;
}

.m-p-h-titulo img{
    margin-left: 1.5rem;
}

.m-p-h-titulo h3 {
    color: #fff;
    margin-left: 1.5rem;
}

.img-fechar {
    height: 15px;
    margin-right: 1.5rem;
}

.img-fechar:hover {
    cursor: pointer;
}

.m-p-content {
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

.m-p-radio {
    display: flex;
    gap: 1rem;
}

.modal-produtos button {
    padding: 9px 16px;
    border: none;
    background-color: #9353FF;
    color: #fff;
    cursor: pointer;
    margin-top: 1.5rem;
}